body{
	background-color: #f6f2f1;
}
.sosialicon img{
 width: 30px;
 height: 30px;
}
.sosialicon{
	margin-top: -20px;
}
.menu-bar{
	    margin: auto;
    width:60%;
    padding: 10px;
/*	padding-top:8px;*/
  font-size:25px;
  font-family: 'Orotado-STD'
}
.menu-bar a{
	color: #828687 !important;
}
.da-slider{
  margin: 5px !important;
  border-top:none !important;
  border-bottom: none !important;
  box-shadow: 4px 4px 25px #888888 !important;
}
.da-img{  
  margin-left: -700px;
  margin-top: -120px;
}
.da-img img{  
 width: 1200px;
}

@font-face {
  font-family: 'Orotado-STD';
  src: url("https://dl.dropbox.com/s/h4qku1acclmxg8r/OratorStd.otf");
  font-style: normal;
  font-weight: normal;
}
